<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>{{title}}</h1>
        <nav>
            <a class="opcion-menu" href="/">Inicio</a>
            <a class="opcion-menu" href="/realtimeproducts">Productos en Tiempo Real</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>
